<h1 class="name">Daytripper</h1>

<div>
    <div id="loading">
        <img id="nav-icon" src="assets/navigation_icon.png">
    </div>
<div>

<%#<input id="launch" type="submit" class="btn btn-info" value="Get Info">%>
<br>
<img src="assets/search_icon.png" id="search-icon">
<div id="search-bar">
    <%= form_tag("/search", method: "get", id: "search-form") do %>
        <%= text_field_tag(:search, nil, {id: "search-field"}) %>
        <%= submit_tag("Search", id: "search-button") %>
    <% end %>
</div>
<div class="container text-container"></div>
