<div class="box">
    <div id="search-bar">
        <img src="assets/search-icon.png" id="search-icon">
        <%= form_tag("/search", method: "get", id: "search-form") do %>
            <%= text_field_tag(:search, nil, {id: "search-field"}) %>
            <%= submit_tag("Search", id: "search-button") %>
        <% end %>
    </div>
    <h1 class="name">Daytripper</h1>

    <div id="nav-load">
        <div id="loading"></div>
        <div id="nav-icon">
            <img src="assets/navigation_icon.png" height="150" width="150">
        </div>
    </div>
    <br>

    <button id="pause" type="button" onclick="responsiveVoice.pause();">Pause</button>
    <script>setTimeout(responsiveVoice.speak(" "),500);
    </script> 


    <script type="text/javascript"> 
        function read(){
            responsiveVoice.speak(" ");
        }
        setTimeout(function(){ read(); }, 2000);
    </script>
    <div class="icon">
        <a id="octo" href="https://github.com/mbigras/daytripper"><img src="assets/github-icon.png" width="100" height="100"></a>
    </div>

    <div class="container text-container"></div>


    <iframe src="https://embed.spotify.com/?uri=spotify:track:3djNBlI7xOggg7pnsOLaNm&theme=white" width="0" height="0" frameborder="0" allowtransparency="true"></iframe><br><br>

    <iframe id="music-widget" src="https://embed.spotify.com/?uri=spotify:user:davehenton:playlist:38YqfHXwZP4zEwZT8nS7AJ" width="250" height="150" frameborder="0" allowtransparency="true"></iframe>
</div>