/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.text-container {
    height: 1226px;
    overflow: auto;
}

body {
    background-image: asset-url("default.jpeg");
    background-repeat: no-repeat !important;
    /*?\background-size: cover !important;*/
    font-family: "Helvetica" !important;
    text-align: center;
    font-size: 18px !important;
    background-size: 100% !important;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
}

.name {
    font-family: "Reenie Beanie" !important;
    font-size: 80px !important;
    text-align: center;
    margin-top: 75px;
    -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 30px !important;
    }
}

#loading {
    height: 100px;
}

#loading>svg {
    height: 100%;
}


/*#text {
  font-size: 17px !important;
}*/