// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#launch {
    opacity: 0.7;
    background-color: lightgray;
    color: white !important;
    position: relative;
    border: gray;
    margin-bottom: 75px !important;
    margin-top: 15px;
    height: 44px !important;
    position: absolute;
    top: 20%;
}

#search-field {
    border-radius: 8px;
}

#search-icon {
    background: none;
}

#search-icon::hover {
    background: blue !important;
}

#nav-icon {
    z-index: 99;
    width: 100%;
    height: 100%;
    // display: block;
    position: absolute;
    left: -1%;
    top: 23%;
    // margin: 0 auto;
}